
/* PAGE*/ 
html{
    height:100%;
    min-height:100%;
    width:100%
}

/*FOOTER*/
#footer {
    background-color: #f2f2f2;
    width:100%;
    height:50px;
    position: absolute;
    bottom: 0;
    display:grid;
    grid-template-columns: 100px 70px 70px 110px 1fr 70px 50px 70px ;
    grid-template-rows: 50px;
    grid-template-areas:"advertising business about how . privacy terms settings";
}

#advertising{
    grid-area: advertising;
    justify-self: center;
    align-self: center;
}

#business{
    grid-area: business;
    justify-self: center;
    align-self: center;
}

#about{
    grid-area: about;
    justify-self: center;
    align-self: center;
}

#how{
    grid-area: how;
    justify-self: center;
    align-self: center;
}

#privacy{
    grid-area: privacy;
    justify-self: center;
    align-self: center;
}

#terms{
    grid-area: terms;
    justify-self: center;
    align-self: center;
}

#settings{
    grid-area: settings;
    justify-self: center;
    align-self: center;
}







/*HEADER*/
#navbar{
    display: grid;
    grid-template-columns: 1fr 150px 150px;
    grid-template-rows: 50px;
    grid-template-areas:". gtsearch Advanced-Search";
    background-color: #F1F1F1;
}

#gtsearch{
    grid-area: gtsearch;
    justify-self: center;
    align-self: center;
} 

#adv-search{
    grid-area: Advanced-Search;
    justify-self: center;
    align-self: center;
}



a{
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
}
 a:hover{
     text-decoration: underline;
 }

/*MAIN BODY*/
#main{
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 70px 70px 200px;
    grid-template-areas:
    ". logo ."
    ". search ."
    ". . ."
    ". . ." ;
}

#logo{
    grid-area: logo;
    justify-self: center;
    align-self: end;
    
}

#search{
    grid-area:search;
    
}
#searchbar{
    margin:20px;
    height:30px;
    align-self: center;
    border:1px solid black;
    border-radius:15px;
    justify-self: center;
    align-self: center;
    width:100%
    
}

